/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './app/shared/navbar/navbar-theme';

@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500');

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include nav-bar-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
