requests==2.19.1
alembic==0.9.10
click==6.7
Flask==1.0.2
flask_httpauth==3.2.4
flask_migrate==2.2.1
flask_mqtt==1.0.4
flask_restful==0.3.6
flask_sqlalchemy==2.3.2
flask_swagger_ui==3.6.0
itsdangerous==0.24
SQLAlchemy==1.2.9
Werkzeug==0.14.1
