<mat-card *ngIf="deviceData['data']" class="card">
  <mat-card-header>
    <mat-card-title>{{"device_name." + device["name"] | translate}}</mat-card-title>
    <mat-card-subtitle>
      {{deviceData["time"] | localizedDate}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <ng-container *ngFor="let key of device.schema | keys">
        <mat-list-item *ngIf="device.display[key.key][0] && (key.value==deviceDataType.integer || key.value==deviceDataType.float ||key.value==deviceDataType.string) && !device.display[key.key][1]">
          <span class="h5">{{"device_status." + key.key | translate}}:&nbsp;</span>
          {{deviceData["data"][key.key]}}
        </mat-list-item>
        <mat-list-item *ngIf="device.display[key.key][0] && key.value==deviceDataType.boolean && device.display[key.key][1]">
          <span class="h5">{{"device_status." + key.key | translate}}:&nbsp;</span>
          <mat-slide-toggle color="primary" (click)="changeStatus(device.id, key.key, !deviceData['data'][key.key])"
            [checked]="deviceData['data'][key.key]">
          </mat-slide-toggle>
          <span *ngIf="deviceData['data'][key.key]; else offText">&nbsp;{{"device_status.on" | translate}}</span>
          <ng-template #offText>&nbsp;{{"device_status.off" | translate}}</ng-template>
        </mat-list-item>
        <mat-list-item *ngIf="device.display[key.key][0] && key.value==deviceDataType.boolean && !device.display[key.key][1]">
          <span class="h5">{{"device_status." + key.key | translate}}:&nbsp;</span>
          <span *ngIf="deviceData['data'][key.key]; else offText">&nbsp;{{"device_status.on" | translate}}</span>
          <ng-template #offText>&nbsp;{{"device_status.off" | translate}}</ng-template>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <ng-container *ngIf="settingVisibility">
      <mat-list>
        <ng-container *ngFor="let key of device.schema | keys">
          <mat-list-item *ngIf="!device.display[key.key][0] && !device.display[key.key][1] && (key.value==deviceDataType.integer || key.value==deviceDataType.float ||key.value==deviceDataType.string)">
            <span class="h5">{{"device_status." + key.key | translate}}:&nbsp;</span>
            {{deviceData["data"][key.key]}}
          </mat-list-item>
          <mat-list-item *ngIf="!device.display[key.key][0] && key.value==deviceDataType.boolean && device.display[key.key][1]">
            <span class="h5">{{"device_status." + key.key | translate}}:&nbsp;</span>
            <mat-slide-toggle color="primary" (click)="changeStatus(device.id, key.key, !deviceData['data'][key.key])"
              [checked]="deviceData['data'][key.key]">
            </mat-slide-toggle>
            <span *ngIf="deviceData['data'][key.key]; else offText">&nbsp;{{"device_status.on" | translate}}</span>
            <ng-template #offText>&nbsp;{{"device_status.off" | translate}}</ng-template>
          </mat-list-item>
          <mat-list-item *ngIf="!device.display[key.key][0] && key.value==deviceDataType.boolean && !device.display[key.key][1]">
            <span class="h5">{{"device_status." + key.key | translate}}:&nbsp;</span>
            <span *ngIf="deviceData['data'][key.key]; else offText">&nbsp;{{"device_status.on" | translate}}</span>
            <ng-template #offText>&nbsp;{{"device_status.off" | translate}}</ng-template>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <mat-accordion displayMode="flat">
        <ng-container *ngFor="let key of device.schema | keys">
          <mat-expansion-panel *ngIf="!device.display[key.key][0] && device.display[key.key][1] &&(key.value==deviceDataType.integer || key.value==deviceDataType.float ||key.value==deviceDataType.string)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="h5">{{"device_status." + key.key | translate}}:&nbsp;</span>{{deviceData["data"][key.key]}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="form-field">
              <input matInput #inputBox>
              <button mat-button matSuffix (click)="changeStatus(device.id, key.key, inputBox.value)">{{"device_status.set" | translate}}</button>
            </mat-form-field>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!settingVisibility" (click)="showSettings()">{{"device_status.show_settings"| translate}}</button>
    <button mat-button *ngIf="settingVisibility" (click)="hideSettings()">{{"device_status.hide_settings"| translate}}</button>
  </mat-card-actions>
</mat-card>
