<mat-card *ngIf="deviceData['data']" class="card">
  <mat-card-header>
    <mat-card-title>{{device.displayName}}</mat-card-title>
    <mat-card-subtitle>
      {{deviceData["time"] | localizedDate}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <ng-container *ngFor="let item of device.schema">
        <mat-list-item *ngIf="item.show && (item.dataType==deviceDataType.integer || item.dataType==deviceDataType.float ||item.dataType==deviceDataType.string) && !item.allowControl">
          <span class="h5">{{item.displayName}}:&nbsp;</span>
          {{deviceData["data"][item.name]}}
        </mat-list-item>
        <mat-list-item *ngIf="item.show && item.dataType==deviceDataType.boolean && item.allowControl">
          <span class="h5">{{item.displayName}}:&nbsp;</span>
          <mat-slide-toggle color="primary" (click)="changeStatus(device.id, item.name, !deviceData['data'][item.name])"
            [checked]="deviceData['data'][item.name]">
          </mat-slide-toggle>
          <span *ngIf="deviceData['data'][item.name]; else offText">&nbsp;{{"device_status.on" | translate}}</span>
          <ng-template #offText>&nbsp;{{"device_status.off" | translate}}</ng-template>
        </mat-list-item>
        <mat-list-item *ngIf="item.show && item.dataType==deviceDataType.boolean && !item.allowControl">
          <span class="h5">{{item.name}}:&nbsp;</span>
          <span *ngIf="deviceData['data'][item.name]; else offText">&nbsp;{{"device_status.on" | translate}}</span>
          <ng-template #offText>&nbsp;{{"device_status.off" | translate}}</ng-template>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <ng-container *ngIf="settingVisibility">
      <mat-list>
        <ng-container *ngFor="let item of device.schema">
          <mat-list-item *ngIf="!item.show && !item.allowControl && (item.dataType==deviceDataType.integer || item.dataType==deviceDataType.float ||item.dataType==deviceDataType.string)">
            <span class="h5">{{item.displayName}}:&nbsp;</span>
            {{deviceData["data"][item.name]}}
          </mat-list-item>
          <mat-list-item *ngIf="!item.show && item.dataType==deviceDataType.boolean && item.allowControl">
            <span class="h5">{{item.displayName}}:&nbsp;</span>
            <mat-slide-toggle color="primary" (click)="changeStatus(device.id, item.name, !deviceData['data'][item.name])"
              [checked]="deviceData['data'][item.name]">
            </mat-slide-toggle>
            <span *ngIf="deviceData['data'][item.name]; else offText">&nbsp;{{"device_status.on" | translate}}</span>
            <ng-template #offText>&nbsp;{{"device_status.off" | translate}}</ng-template>
          </mat-list-item>
          <mat-list-item *ngIf="!item.show && item.dataType==deviceDataType.boolean && !item.allowControl">
            <span class="h5">{{"device_status." + item.displayName | translate}}:&nbsp;</span>
            <span *ngIf="deviceData['data'][item.name]; else offText">&nbsp;{{"device_status.on" | translate}}</span>
            <ng-template #offText>&nbsp;{{"device_status.off" | translate}}</ng-template>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <mat-accordion displayMode="flat">
        <ng-container *ngFor="let item of device.schema">
          <mat-expansion-panel *ngIf="!item.show && item.allowControl &&(item.dataType==deviceDataType.integer || item.dataType==deviceDataType.float ||item.dataType==deviceDataType.string)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="h5">{{item.displayName}}:&nbsp;</span>{{deviceData["data"][item.name]}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="form-field">
              <input matInput #inputBox>
              <button mat-button matSuffix (click)="changeStatus(device.id, item.name, inputBox.value)">{{"device_status.set"
                | translate}}</button>
            </mat-form-field>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!settingVisibility" (click)="showSettings()">{{"device_status.show_settings"| translate}}</button>
    <button mat-button *ngIf="settingVisibility" (click)="hideSettings()">{{"device_status.hide_settings"| translate}}</button>
  </mat-card-actions>
</mat-card>
