<mat-list>
  <mat-list-item>
    <span class="h5">Time:&nbsp;</span>
    <span class="data">{{status?.time | date: 'medium':'+0800'}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h5">Temperature:&nbsp;</span>
    <span class="data">{{status?.temperature}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h5">Relative Humidity:&nbsp;</span>
    <span class="data">{{status?.relativeHumidity}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h5">Relay1 Status:&nbsp;</span>
    <mat-slide-toggle
      color="primary"
      [(ngModel)]="relay1"
      (click)="changeRelay1()">
    {{relay1}}
    </mat-slide-toggle>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h5">Relay2 Status:&nbsp;</span>
    <mat-slide-toggle
        color="primary"
        [(ngModel)]="relay2"
        (click)="changeRelay2()">
      {{relay2}}
    </mat-slide-toggle>
  </mat-list-item>
</mat-list>
