<!--
<mat-list>
  <mat-list-item>
    <span class="h5">Time:&nbsp;</span>
    <span class="data">{{status?.time | date: 'medium':'+0800'}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h5">Temperature:&nbsp;</span>
    <span class="data">{{status?.temperature}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h5">Relative Humidity:&nbsp;</span>
    <span class="data">{{status?.relativeHumidity}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h5">Relay1 Status:&nbsp;</span>
    <mat-slide-toggle
      color="primary"
      (click)="changeRelay1()">
    {{status?.relay1Status}}
    </mat-slide-toggle>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h5">Relay2 Status:&nbsp;</span>
    <mat-slide-toggle
        color="primary"
        (click)="changeRelay2()">
      {{status?.relay2Status}}
    </mat-slide-toggle>
  </mat-list-item>
</mat-list> -->



<mat-card *ngFor="let device of status">
  <a>{{device["name"]}}</a>
  <mat-list>
    <mat-list-item>
      time: {{device.time | date: 'medium':'+0800'}}
    </mat-list-item>
    <mat-list-item *ngFor="let key of device.data | keys">
      {{key.key}}:{{key.value}}
    </mat-list-item>
  </mat-list>
</mat-card>
