<mat-card>
  <mat-card-header>
    <mat-card-title>Status</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-status></app-status>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/status">Detail</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>History</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-history></app-history>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/history">Detail</button>
  </mat-card-actions>
</mat-card>
