Flask==1.0.2
flask_login==0.4.1
flask_migrate==2.3.1
flask_restful==0.3.7
flask_sqlalchemy==2.3.2
flask_swagger_ui==3.18.0
flask_socketio==3.2.1
flask_jwt_extended==3.17.0
mysql-connector-python==8.0.15
python_dotenv==0.10.1
eventlet==0.24.1
