<div>
  <mat-form-field>
    <mat-select [placeholder]="'history.devices' | translate" [(ngModel)]="id">
      <mat-option *ngFor="let device of devices" [value]="device.id">
        {{"device_name." + device.name | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dp1" [placeholder]="'history.start' | translate" [(ngModel)]='start'>
    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dp2" [placeholder]="'history.end' | translate" [(ngModel)]='end'>
    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
    <mat-datepicker #dp2></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [placeholder]="'history.interval' | translate" [(ngModel)]='interval'>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="showSettings">{{"history.settings" | translate}}</mat-checkbox>
  <button mat-button (click)='onClick()'>{{"history.draw_chart" | translate}}</button>
</div>
<canvas id="canvas"></canvas>
