.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}

.github-logo {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}

.navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.navbar {
  display: none;
}

.navbar-show-small {
  display: none;
}

.header-text {
  font-size: 150%;
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .navbar-hide-small {
    display: none;
  }

  .navbar-show-small {
    display: block;
  }

  .navbar {
    display: flex;
  }

  .navbar--github-logo {
    margin: 0;
  }
}
