[Unit]
Description=The MQTT Client
After=iot.service
PartOf=iot.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/iot/configuration/mqtt.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target