[Unit]
Description=The IoT Flask Server
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/iot/venv/bin/python run.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
