<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>最近24小时的温湿度曲线</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- 引入 G2 文件 -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='g2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='data-set.min.js') }}"></script>
</head>

<body>
    <!-- 创建图表容器 -->
    <div id="c1"></div>
    <script>
        $(document).ready(function () {
            const interval = 20;
            let dateLength = 0;
            let count = 0;
            let deviceData = [];
            G2.track(false);
            setData();

            function darwChart() {
                const ds = new DataSet();
                const dv = ds.createView().source(deviceData);
                dv.transform({
                    type: 'fold',
                    fields: ['temperature', 'relative_humidity'], // 展开字段集
                    key: 'type', // key字段
                    value: 'temperature', // value字段
                });
                const chart = new G2.Chart({
                    container: 'c1',
                    forceFit: true,
                    height: innerHeight * 0.95,
                    padding: 'auto'
                });
                chart.source(dv);
                chart.tooltip({
                    containerTpl: '<div class="g2-tooltip">' +
                        '<p class="g2-tooltip-title"></p>' +
                        '<table class="g2-tooltip-list"></table>' +
                        '</div>', // tooltip的外层模板
                    itemTpl: '<tr class="g2-tooltip-list-item"><td style="color:{color}">{name}</td><td>{value}</td></tr>', // 支持的字段 index,color,name,value
                    offset: 50,
                    'g2-tooltip': {
                        position: 'absolute',
                        visibility: 'hidden',
                        border: '1px solid #efefef',
                        backgroundColor: 'white',
                        color: '#000',
                        opacity: "0.8",
                        padding: '5px 15px',
                        'transition': 'top 200ms,left 200ms'
                    }, // 设置 tooltip 的 css 样式
                    'g2-tooltip-list': {
                        margin: '10px'
                    }
                });
                chart.axis('time', {
                    label: {
                        formatter: val => {
                            count += 1;
                            if (count % 20 === 0) {
                                if (count >= dateLength) {
                                    count = interval - (dateLength % interval);
                                }
                                return val.match(/\d*:\d*:\d*/g)[0];
                            } else return null;
                        }
                    }
                });
                chart.line().position('time*temperature').color('type').shape('smooth');
                chart.render();
            }

            function setData() {
                let start = new Date();
                let end = new Date();
                let interval = 18;
                start.setTime(start.getTime() - 24 * 60 * 60 * 1000);
                start = Math.floor((start.getTime() + start.getTimezoneOffset() * 60 * 1000) / 1000);
                end = Math.floor((end.getTime() + end.getTimezoneOffset() * 60 * 1000) / 1000);
                $.ajax({
                    url: "/api/history",
                    async: true,
                    data: { "start": start, "end": end, "interval": interval }, 
                    dataType: "json",
                    success: function (data) {
                        deviceData = data;
                        dateLength = deviceData.length;
                        count = interval - (dateLength % interval);
                        darwChart();
                        timeout: 5000;
                    },
                    dataType: "json"
                });
            } // G2 对数据源格式的要求，仅仅是 JSON 数组，数组的每个元素是一个标准 JSON 对象。

        })
    </script>
</body>

</html>